<section *ngIf="loaded" class="data-single">
  <h2>${{ stocks[0].name }}</h2>
  <div class="chart-container">
    <div [class.chart]="mobWidth < 400">
      <canvas baseChart *ngIf="chartLoaded" baseChart [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [colors]="chartColors"
        [options]="chartOptions" [legend]="false">
      </canvas>
    </div>
  </div>
  <p *ngIf="!dayChart">Hours</p>
  <p *ngIf="dayChart">Days</p>
  <div class="button-center">
    <button (click)="switchHourChart(stocks)" class="btn">Hourly</button>
    <button (click)="switchDayChart(dayCount)" class="btn">Daily</button>
  </div>
  <div class="button-center outside-links">
    <button class="btn">
      <a href="https://twitter.com/search?q=%24{{ stocks[0].name }}&src=typd&lang=en">View Tweets</a>
    </button>
    <button class="btn">
      <a href="https://finance.yahoo.com/quote/{{ stocks[0].name }}">View Stocks</a>
    </button>
  </div>
</section>


<div class="button-center">
  <div class="loading-container" *ngIf="!loaded && !chartLoaded">
    <div class="circle">
      <div class="circle-inner"></div>
      <div class="circle-rotate"></div>
    </div>
  </div>
</div>