header {
    img {
        width: 50%;
        margin: 2%;
    }

    .fa-bars {
        font-size: 10vw;
        margin-top: 5%;
        margin-right: 2%;
        float: right;    
    }

    .header-nav {
        z-index: 99999999;
        width: 100%;
        position: fixed;
        height: 200vw;
        visibility: hidden;
        background: rgba(0, 0, 0, 0);
        transition: 350ms all;

        .main-menu {
            width: 50%;
            position: absolute;
            height: 200vw;
            right: 0;
            background: #fff;
            transition: 350ms all;

            li {
                padding: 4% 0;
                text-align: center;
                font-size: 10vw;
                border-bottom: 2px solid #777;

                a {
                    color: #777;
                }
            }
        }
    }
    
    .fade-in {
        visibility: visible;
        background: rgba(0, 0, 0, 0.25);
    }
}

.menu-closed {
    transform: translateX(100%);
}

.menu-open {
    transform: translateX(0);
}

@media screen and (min-width: 640px){
    header {
        a {
            img {
                width: 25%;
            }
        }

        .fa-bars {
            display: none;
        }

        .header-nav {
            position: static;
            visibility: visible;
            height: auto;
            width: auto;
            
            .main-menu {
                transform: translateX(0);
                height: auto;
                width: 100%;
                position: static;

                li {
                    width: auto;
                    display: inline-block;
                    text-align: left;
                    font-size: 3vw;
                    border-bottom: none;
                    padding: 1% 2%;

                    a {
                        display: inline-block;
                        width: auto;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 940px) {
    header {
        width: 940px;
        margin: 0 auto;
            a {
                img {
                    margin-left: 0;
                }
            }

        .header-nav {
            .main-menu {
                li {
                    font-size: 25px;
                }

                li:first-of-type {
                    margin-left: 0;
                    padding-left: 0;
                }
            }
        }
    }
}