a, a:visited, a:active {
    text-decoration: none;
    color:#000;
    font-family: $font-stack;
}

body {
    overflow-x: hidden;
    max-width: 100%;
}

h1 {
    font-family: $font-stack;
    font-size: 12.5vw;
}

h2 {
    font-size: 10vw;
    text-align: center;
    margin-bottom: 2%;
    font-family: $font-stack;
    color: #777;
}

h3 {
    font-family: $font-stack;
    color: #777;
}

button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

p {
    font-family: $font-stack;
    color: #777;
}

@media screen and (min-width: 940px) {
    h2 {
        font-size: 50px;
    }
}